@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    background-color: gray;
    font-family: Arial;
    margin: 0;
}

#Connexion{
    
    position: fixed;
    top: 2.5rem;
    right: 3rem;

}

.co{
    display: inline-block;
}

#image1{
    position: absolute;  /* centre l'image et permet de ne pas bouger l'image */
    top: 2px;
    left: 10px;
    width: 110px;
    height: 90px;
    clip-path: circle(45%);
}

nav{
  
    text-align: center;
    background-color:black;
    margin:0;

}

nav ul li{
    display : inline-block;
    line-height: 4rem;
    padding: 1rem;
    color:#FFFFFF;

}

ul{
    margin: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

footer{
    color: #000000;
    background-color: #FFFFFF;
    
}

#footer{
    font-size: 15px;
    text-align: center;
}

footer p a{
    color:#000000;
}

form 
{
    display: block;
    text-align: center;
    font-style: italic;
}
h4{
    text-align: center;
}
